
.catContainer {
  width: 76%;
  margin: auto;
  float: left;
}

.reservedDiv {
  width: 20%;
  margin: auto;
  float: right;
}
  
.catList {
  width: 30%;
  margin: 1%;
  float: left;
  padding: 1px 1px;
  border-radius: 1em;
}

.catListUL {
  padding: 0;
  width: 96%;
  border-radius: 1em;
}

.catListUL td {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: auto;
  border-radius: 4px;
}

.catListUL td:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.catProds {
  width: 64%;
  margin: 1%;
  float: left;
}

.prodList {
  float: left;
  width: 56%;
  border-radius: 1em;
  margin: 1%;
  margin-bottom: 2px;
  padding: 2px 2px;
  height: 400px;
}

.prodDetails{
  float: left;
  margin: 1%;
  width: 34%;
}

.btn_edit {
  background-color: DodgerBlue;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: RoyalBlue;
}

.btn_del {
  background-color: rgb(226, 11, 11);
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}