
<div>
    <table class="table table-striped">
        <tr *ngFor="let category of categories">
            <td>
                {{category.catName}}
            </td>
            <td> 
                <button (click)="editCategory(category.catId)">Edit </button>
            </td>
            <td> 
                <button (click)="deleteCategory(category.catId)">Del </button>
            </td>
            <td> 
                <button (click)="addProd()">Add Product </button>
            </td>
            <td> 
                <button (click)="viewProd()">View Products </button>
            </td>


        </tr>

    </table>
</div>


