<div class="loginMainDiv">
    <div class="innerDiv">
        <h5 class="card-header">SPECIAL ACCESS</h5>
        <div class="formDiv">
            <form [formGroup]="loginForm" (ngSubmit)="submitFormData()">
                <div class="form-group">
                    <label>Username:</label>
                    <input type="text" formControlName="username"/>
                    <!-- <div *ngIf="submitted && username.errors" class="invalid-feedback">
                        <div *ngIf="username.errors.required">Username is required</div>
                    </div> -->
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" formControlName="password"/>
                    <!-- <div *ngIf="submitted && password.errors" class="invalid-feedback">
                        <div *ngIf="password.errors.required">Password is required</div>
                    </div> -->
                </div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
        </div>
    </div>
</div>