
<div class="container">

<form [formGroup]="productGroup" (ngSubmit)="onSubmit()" class="addProdForm">
    <h5 *ngIf="success" >Valid Product Entries </h5>
    <div class="row">
        <div class="col-25">
            <label>Category Id:</label>
        </div>
        <div class="col-75">
            <input type="text" formControlName="catId">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label>Product Name:</label>
        </div>
        <div class="col-75">
            <input type="text" formControlName="prodName">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label>Product Description: </label>
        </div>
        <div class="col-75">
            <textarea formControlName="prodDescrip"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <!-- <label>Category Id:</label> -->
        </div>
        <div class="col-75">
            <input type="file" (change)="onFileChanged($event)" #fileInput>
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <!-- <label>Category Id:</label> -->
        </div>
        <div class="col-75">
            <img [src]="imageUrl">
        </div>
    </div>
    <div class="row">
       <input type="submit" value="Add Product">
    </div>
</form>

</div>