
<div class="addProdDiv">

<form [formGroup]="productGroup" (ngSubmit)="onSubmit()" class="addProdForm">

    <h5 *ngIf="success" >Valid Product Entries </h5>
    <label>Category Id:</label>
    <input type="text" formControlName="catId">
    <!-- <div *ngIf="submitted && productGroup.controls.categoryName.errors" class="error"></div> -->
    <label>Product Name:</label>
    <input type="text" formControlName="prodName">
    <!-- <div *ngIf="submitted && productGroup.controls.categoryName.errors" class="error"></div> -->

    <label>Product Description: </label>
    <textarea formControlName="prodDescrip"></textarea>
    <!-- <div *ngIf="submitted && productGroup.controls.categoryName.errors" class="error"></div> -->

    <input type="file" (change)="onFileChanged($event)" #fileInput>
    <img [src]="imageUrl">
    
    <input type="submit" value="Add Product" class="cta">

</form>

</div>