@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
  min-height: 100%;
  width: 100%;
  margin: auto;
}

body {
  font-family: 'Montserrat';
  font-size: 18px;
}

section {
  width: 90%;
  margin: auto;
  min-height: 100%;
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
