

.editProdDiv {
  border-radius: 2em;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 60%; 
  margin-right: 20%;
  margin-left: 20%;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 6px 6px 6px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=number], select, textarea {
  width: 100%;
  padding: 6px 6px 6px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 6px 6px 6px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 6px 6px;
  border: none;
  border-radius: 2em;
  cursor: pointer;
  float: right;
}
  
input[type=submit]:hover {
  background-color: #45a049;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}