
.editProdForm {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex-direction: column;
    align-items: stretch;
  }

.editProdDiv {
    display: block;
    text-align: center;
    max-width: 60%;
    min-height: auto;
    padding: 10px 0;
    margin: auto;
    border-radius: 5px; 
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    background: #ebebeb; 

}

.editProdForm label {
    margin: 5px 10px 5px 5px;
    text-align: left;
  }
  
.editProdForm input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
.editProdForm button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
  }

.editProdForm button:hover {
    background-color: royalblue;
  }

