<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="editProdDiv">
    <mat-spinner mode="determinate" value=75 diameter="30" strokeWidth="4" *ngIf="!oldProduct">
    </mat-spinner>
    <form *ngIf="oldProduct" [formGroup]="editProductForm" (ngSubmit)="editCatProduct()" class="editProdForm">
        <h5 *ngIf="success" >Valid Product Entries </h5>
        <label for="prodName">Product Name:</label>
        <input type="text" formControlName="prodName" required [(ngModel)]="oldProduct.prodName">
        <!-- <label for="prodName">Unit Price:</label>
        <input type="text" formControlName="unitPrice" required [(ngModel)]="oldProduct.unitPrice"> -->
        <label for="prodDescrip">Product Description: </label>
        <textarea formControlName="prodDescrip" required [(ngModel)]="oldProduct.prodDescrip"></textarea>
        
        <label for="prodImageUrl">Product Image Url: </label>
        <input type="text" formControlName="prodImageUrl" [(ngModel)]="oldProduct.prodImageUrl">
        <input type="submit" value="Save" class="cta">
    </form>
</div>