

// .myContainer {
//     width: auto;
//     background: #E5E7E9;


// }

.homec {
    
    width: 100%;
    min-height: 100%;


}

.homec div {
    float: left;
    width: 50%;
    height: auto;


}

.cat { 
     
    background-color: #5cbbf2; 
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    
    
} 

.prod { 

    background:blue; 
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    
    
} 
