
.catFormProdButton {
    width: 100%;
    height: 5%;;
    margin-bottom: 10px;
    float: left;

}

.addCatForm { 
    float: left;
    width: 30%;
} 

.addProdButton { 
    float: right;
    widows: 65%;
} 

.homec {
    width: 100%;
    min-height: 80%;
    float: left;
}

.cat { 
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    float: left;
    width: 50%;
} 

.prod { 
    background:blue; 
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    float: right;
    width: 45%;
} 

