
.catFormProdButton {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;

}

.addCatForm { 
    float: left;
    width: 60%;
} 

.addProdButton { 
    float: right;
    width: 30%;
} 

.homec {
    width: 100%;
    height: 60%;

}

#categoryDiv { 
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    float: left;
    width: 80%;
} 

